<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FletNix</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div id="app"><%= body %></div>
    <script src="/public/bundle.js"></script>
</body>
</html>
